@font-face { font-family: ParryHotter; src: url('ParryHotter.ttf'); }

.container{
	width:100%;
	height:100%;
	background-color:black;
}

.title{
	text-align:center;
	font-size:75px;
	color:white;
	font-family:ParryHotter;
}

.level, .score, .balls, .time, .objective{
	font-size:25px;
	color:yellow;
}

.level{
	left:50px;
	position:fixed;
}

.score{
	bottom:50px;
	width:100%;
	text-align:center;
	position:fixed;
}

.balls{
	right:50px;
	position:fixed;
}

.time{
	bottom:30%;
	width:100%;
	position:fixed;
	text-align:center;
	display:none;
}

.objective{
	bottom:60%;
	width:100%;
	position:fixed;
	text-align:center;
}

.scoreValue, .levelValue, .ballsValue, .objectiveValue, .timeValue{
	text-align:center;
	padding-top:15px;
	color:red;
	font-weight:bold;
}

.objectiveValue{
	font-size:40px;
}

/*=============================
  Main Menu
=============================*/
#game {
	background-color: black;
	font-size: 40px;
}

#game .screen {
	display: none;
	z-index: 10;
}

#game .screen.active {
	display: block;
}

#main-menu {
	padding-top: 1em;
	font-size: 0.75em;
}

.menu {
	padding:0px;
	margin:0px;
}

ul.menu {
	text-align: center;
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.menu li{
	text-align:center;
	line-height: 55px;
	padding-top:20px;
	padding-bottom:20px;
	cursor:pointer;
	color: white;
}

ul.menu li:hover {
	font-size: 40px;
	font-family: ParryHotter;
}

#game div h1 {
	font-size: 1em;
	text-align: center;
}

#high-scores ol {
	text-align: center;
}

#about p, #help p {
	text-align: center;
}

.screen {
	color:white;
}

#high-scores h1, #help h1, #about h1 {
	font-family:ParryHotter;
	color:white;
}

#high-scores ul.menu li {
	display:inline-block;
	padding-top:150px;
	width:250px;
}

table {
	color:white;
}

.table1 {
	float:left;
	margin-left:35%;
	display:block;
}

.table2 {
	float:right;
	margin-right:35%;
	display:block;
}

/* ================================
	Video testing stuff
================================ */
.content {
	position:relative;
	z-index:2;
}

.video {
	position:fixed;
	z-index:1;
	transform:translate(-50%, -50%);
	width:auto;
	height:auto;
	min-width:100%;
	min-height:100%;
}
